body {
  background-color: lightblue;
}

.nav {
  background-color: #aa0000;
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
}

.title-text {
  color: #fff
}

.entry-name {
  margin: 0 auto 1rem;
}

.entry-list {
  margin-top: 10rem;
}

.pokedex-entry {
  display:flex;
  margin: 1.5rem auto;
  justify-content: space-between;
  padding: 1rem;
  width: 45em;
  height: 20rem;
  border: 1px solid #aaa;
  border-radius: 2rem;
  background-color: #fff;
  -webkit-transition:width 0.5s;
  transition:width 0.5s;
}

.pokedex-entry-main:hover{
  width: 65%;
}

.entry-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; 
}

.type-list {
  list-style: none;
}

.entry-type {
  border-radius: 0.4rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 1rem;
  margin: 0.2rem;
  width: 100rem;
}

.grass {
  border: 2px solid #4E8234;
  color: #fff;
  background-color: #78C850;
}

.poison {
  border: 2px solid #682A68;
  color: #fff;
  background-color: #A040A0;
}

.fire {
  border: 2px solid #9C531F;
  color: #fff;
  background-color: #F08030;
}

.flying {
  border: 2px solid #D7C8F6;
  color: #fff;
  background-color: #A890F0;
}

.water {
  border: 2px solid #6890F0;
  color: #fff;
  background-color: #9DB7F5;
}

.normal {
  border: 2px solid #6D6D4E;
  color: #fff;
  background-color: #A8A878;
}

.ghost {
  border: 2px solid #493963;
  color: #fff;
  background-color: #705898;
}

.fighting {
  border: 2px solid #7D1F1A;
  color: #fff;
  background-color: #C03028;
}

.electric {
  border: 2px solid #A1871F;
  color: #fff;
  background-color: #F8D030;
}

.ground {
  border: 2px solid #927D44;
  color: #fff;
  background-color: #E0C068;
}

.psychic {
  border: 2px solid #A13959;
  color: #fff;
  background-color: #F85888;
}

.rock {
  border: 2px solid #786824;
  color: #fff;
  background-color: #B8A038;
}

.ice {
  border: 2px solid #638D8D;
  color: #fff;
  background-color: #98D8D8;
}

.bug {
  border: 2px solid #6D7815;
  color: #fff;
  background-color: #A8B820;
}

.dragon {
  border: 2px solid #4924A1;
  color: #fff;
  background-color: #7038F8;
}

.steel {
  border: 2px solid #787887;
  color: #fff;
  background-color: #B8B8D0;
}

.fairy {
  border: 2px solid #9B6470;
  color: #fff;
  background-color: #EE99AC;
}

.dark {
  border: 2px solid #49392F;
  color: #fff;
  background-color: #705848;
}

.sprite {
  height: 15em;
  border: 1px solid #aaa;
  border-radius: 2rem;
  background: lightskyblue;
}

.pokedex-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-entry{
  display:flex;
  margin: 1.5rem auto;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  width: 45em;
  border: 1px solid #aaa;
  border-radius: 2rem;
  background-color: #fff;
}

.modal-top {
  display: flex;
  justify-content: space-between;
}

.modal-bottom{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.stat-chart {
  margin-right: auto;
  padding-top: 1rem
}

.loading-gif{
  margin: auto
}