/*TODO - finish styling form*/

.App{
  font-family: 'Poppins', sans-serif;
}

.upload-box{
  /* display:None; */
  width: 250px;
  margin:auto;
}

.title-image{
  width: 40%;
}

/*LOGIN FORM*/

.cred-form{
  display:flex;
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  width: 45em;
  border: 1px solid #aaa;
  border-radius: 2rem;
  background-color: #eee;
}

.cred-form > input {
  margin: 1rem auto;
  width: 50%;
  height: 2em;
  padding: 0.1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}